resource r1 {
volume 0 {
  device    /dev/drbd0;
  disk      {{ drbd_backing_disk1 }};
  meta-disk internal;
  }

  
{% set address1 = "10.65.129.148:7788" %}
  {% set address2 = "10.65.132.121:7788" %}
  
  on lay6lnx0001.gdc.geodis.org {
    address {{ address1 }};
  }
  on lay6lnx0002.gdc.geodis.org {
    address {{ address2 }};
  }
}
