resource r1 {
volume 0 {
  device    /dev/drbd0;
  disk      {{ drbd_backing_disk1 }};
  meta-disk internal;
  }

  
{% set address1 = "{{ drbd_ip_node1 }}:7788" %}
  {% set address2 = "{{ drbd_ip_node2 }}:7788" %}
  
  on {{ drbd_host_node1 }} {
    address {{ address1 }};
  }
  on {{ drbd_host_node2 }} {
    address {{ address2 }};
  }
}
