# Ignore everything in collections dir
/ansible_collections/*
# Except:
# the .gitignore file
!.gitignore
# the requirements file
!requirements.yml
# Readme if you have one
!README.md
# and any specific collection we want to version locally
# Example: !locally-versionned-collection*/
